@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap');

.herosection {
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    gap: 20px;
    text-align: center;
    padding: 0 20px; 
}
@media (max-width: 850px) {
    .herosection {
        height: auto; 
        padding: 20px; 
    }

    .herosection h1 {
        font-size: 24px; 
    }

    .herosection p {
        font-size: 14px;
    }
}
